*{
	padding:0;
	margin:0;}
	
body{
	background-color:#E3E1C6;}
.container{
	width:1200px;
	background-color:#FFF;
	margin:0 auto;}

.header{
	border-top:#066 20px solid;
	border-bottom:#066 20px solid;}

.header img{
	vertical-align:bottom;}


.box{
	display:flex; /*統一將所有對象拉成與高度最高的內容一樣高 */
	flex-wrap:wrap; /*預設是不換行 會硬擠 要換行則使用flex-wrap: wrap*/
	flex-direction:row; /*row(列)為預設值由左到右由上到下 column(欄)需要強制下高度才會作用 不然會無止盡排下去不換行 */
	justify-content:space-evenly;/*設定對齊方式，讓左右和中間的間距均分*/
	align-items:flex-start; /*單排設定對齊方式，靠上對齊不拉伸盒子長度與最長的內容相等*/
	align-content: center; /*全部打包對其方式 center需要設定高度才會作用(牽扯到垂直需要強制下高度)*/
	height: 1800px;
}

.box div{ /*box底下的所有div*/
	width: 350px;/*實質上的三等份 width:calc(100%/3)*/
}

.box .b1{
	background-color: #ffb3b3;
}
.box .b2{
	background-color: #9fe9ff;
}
.box .b3{
	background-color: #f8fa94;
}

.box .b4{
	background-color:aquamarine;
	align-self: flex-end; /*對單個箱子設定對齊方式 靠下對齊*/
}

.box .b5{
	background-color:rgb(150, 148, 248)
}

.box .b6{
	background-color: #ff66de;
}

