.img-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.img-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}