/*===母層===*/
.box{
    display: grid;
    grid-template-columns: 33.3% 1fr auto;
    gap: 10px 5px;
}


/*===子層===*/
.box div{
    text-align: center;
    font-size: 30px;
    padding: 50px;

}

.b1{background-color:#F8B9BA;
    grid-column: 1/ span 3;}
.b2{background-color: #FFD6BB;}
.b3{background-color: #FFF9AA;}
.b4{background-color:#DDFFA3;}
.b5{background-color:#9DEF9A;
    grid-column-start:2; 
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:4;}
.b6{background-color:#7AD3A8;}
.b7{background-color:#8BDFDD;}
.b8{background-color:#8FBAED;}
.b9{background-color:#5071D9;
    grid-row-start:;
    grid-row-end:;}
.b10{background-color:#8778E5;}
.b11{background-color:#D187ED;}
.b12{background-color:#F495E2;}