@charset "utf-8";


ul{
    /* width: 200px;
    margin: 0 auto; */
    
    padding-left: 0;
    /* padding: 40px; 此為預設 要改掉就把40改為0 */
    
}

li{
     list-style: none; /*預設是圓點 */
}

a{
    color: rgb(13, 0, 133);
    display: block;
    background-color: #e5ceff;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-color: rgb(111, 0, 255);
    border-style: double;
}
a:hover{
    background-color: rgb(255, 184, 184);
    border-color:rgb(247, 26, 26)
}